body{background: #0547ab;}
.site_title{height: auto;}

.nav_title {
    background: #fff;
    height: auto;
    padding: 10px 10px 10px 0;
}
.left_col {
    background: #0547ab;
}
#toolbarContainer{display: none!important;;}

.actionbtns {
    display: flex;
    justify-content: right;
}

.expandChildTable:before {
    content: "\f055";
    display: block;
    cursor: pointer;
}
.expandChildTable.selected:before {
    content: "\f056";
}
.iconcal{width: 38px;}
#getLists i.expandChildTable {
    font-size: 22px;
}
.childTableRow {
    display: none;
}
.childTableRow table {
    border: 2px solid #555;
}

.nav-sm .desklogo {
    display: none;
}

.nav-md .mobilelogo {
    display: none;
}

.formitem.documents {
    color:blue;
}

.graybg{background-color: rgb(247 247 247)!important;
    border: 1px solid rgba(86, 61, 124, 0.2)!important;}
    .orangebglight{ background:rgb(255 252 243)!important;
        border: 1px solid rgba(86, 61, 124, 0.2)!important;}
   

    .iconcal{width: 18px;}
    .topformsec{}
    .topformsec .form-inline {
        display: flex;
        align-items: center;
    }
    
    .topformsec .form-inline label {
        margin-right: 10px;
        display: inline-block;
    }
    .topformsec .form-inline .form-control{width:100%;}
    .topformsec {
        background: white;
        padding: 15px 10px;
        border: 1px solid #ddd;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }